/*  This file is part of Google Adsense Monitor. Google Adsense Monitor
	is an Opera 15+ extension that lets you view updates to your latest 
	adsense earnings in an Opera Speed Dial.
	
    Copyright (C) 2013 M Shabeer Ali

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
	
	Website: http://adsensemonitor.tumblr.com/
	Source code: https://github.com/thewebdev/opera-blink-extension-am.git
	Email: thewebdev@myopera.com */
	
/* RESET */
* {
    margin:0;
    padding:0;
}

body {
    font-family: Arial, Helvetica, sans-serif;


}

html {
    height:100%;
}
body {
	display: -webkit-flex;
	-webkit-align-items: center;
	-webkit-justify-content: center;
	height: 100%;
	width: 100%;
    background:#fff;
    color:#000;



}
span {
	color: #000;
	text-shadow: 0px 1px 1px #5D5D5D;
}
span.etype {
	color: #A4A4A4;
	font-size:0.4em;
	text-transform: uppercase;
	text-shadow: none;
}
span.up {	
	color:green;
}

span.down {	
	color:red;
}
#output {

	font-size: 2.2em;
	text-align:center;	

}
#output img {
	text-align:center;
	vertical-align:middle;
}
#msg {
	font-size:60%;
	color:#2F2F2F;
}
dt {
    font-weight:bold;
}

dd {
	text-transform: uppercase;
	color: #2F2F2F;
	font-size: 0.5em;
    font-weight:bold;
}

/* SLIDESHOW */
#data {
	display:none;
}

#rateSlides {
	display:block;
}

#rateSlides dt { 
	display:none;
}

#rateSlides dd {
	display:none;
}

#rateSlides dt.current { 
	display:block;
}

#rateSlides dd.current { 
	display:block;
}

/* Definition list as a table */
/* See: http://www.maxdesign.com.au/articles/definition/ */

dl.table-display {
	float: left;
	margin: 2px 0;
	padding: 0;
	border-bottom: 1px solid #999;	
	width: 100%;
}

.table-display dt {
	clear: left;
	float: left;
	width: 30%;
	margin: 0 0 0 4px;
	padding: 5px;
	border-top: 1px solid #999;
	font-size: 0.6em;
	text-align: left;
}

.table-display dt span.ttitle {
	color: #A4A4A4;
	font-size:0.6em;
	text-transform: uppercase;
	text-shadow: none;
}
	
.table-display dd {
	float: left;
	width: 61%;
	margin: 0;
	border-top: 1px solid #999;
	font-size: 0.5em;
	font-weight: normal;
	text-transform: none;
}